// *first screen
.first_screen{
    background-color: #dde7ea;
    padding-bottom: 200px;
}
.first_screen_block_text{
    max-width: 526px;
    padding-top: 160px;
    .first_screen_title{
        font-weight: 700;
        font-size: clamp(25px, 8vw, 38px);
        color: #1d1d1d;
        margin-bottom: 38px;
    }
    .first_screen_description{
        font-size: 18px;
        color: #787878;
        margin-bottom: 43px;
    }
}

// *about us
.about_us{
    max-width: 100%;
    min-height: 100px;
    background-color: #ffffff;
    padding-bottom: 100px;
}
.about_us_title{
    text-align: center;
    margin-bottom: 44px;
}
.about_us_description{
    font-size: 16px;
    color: #8a8a8a;
    text-align: center;
    max-width: 680px;
    margin: 0 auto;
    margin-bottom: 43px;
}
.signature{
    width: 224px;
    height: 61px;
    background: url("../images/signature.png") no-repeat;
    margin: 0 auto;
}

// *skills
.skills{
    max-width: 100%;
    background-color: #f7f9f9;
}
.skills_container{
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    flex-wrap: wrap;
    row-gap: 30px;
}
.skills_block_gray{
    width: 683px;
    height: 570px;
    background-color: #e6e6e6;
}
.skills_content{
    max-width: 700px;
    margin: 0 auto;
}
.skills_title{
    padding-top: 165px;
    margin-bottom: 40px;
}
.progress_bar_container{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.progress_bar_text{
    h3{
        font-weight: 500;
        font-size: 12px;
        color: #000000;
        text-transform: uppercase;
        margin-bottom: 20px;
        span{
            display: inline-block;
            margin-left: 18px;
        }
    }
}
.progress_bar{
    position: relative;
    width: 540px;
    height: 3px;
    background-color: #d8d8d8;
}
.progress_bar_loading{
    height: 100%;
    background-color: #11c9c3;
}
.number_01{
    width: 75%;
}
.number_02{
    width: 90%;
}
.number_03{
    width: 65%;
}
// *advantages
.advantages{
    max-height: 100%;
    min-height: 240px;
    background-color: #10c9c3;
    padding: 50px 0;
}
.advantages_container{
    min-height: 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 25px;
    max-width: 100%;
    margin: 0 auto;
}
.advantage{
    display: flex;
    column-gap: 25px;
    align-items: center;
}
.advantage_icon_01{
    width: 44px;
    height: 40px;
    background: url("../icons/advantages-icon-01.png") no-repeat;
}
.advantage_icon_02{
    width: 40px;
    height: 44px;
    background: url("../icons/advantages-icon-02.png") no-repeat;
}
.advantage_icon_03{
    width: 44px;
    height: 40px;
    background: url("../icons/advantages-icon-03.png") no-repeat;
}
.advantage_icon_04{
    width: 42px;
    height: 40px;
    background: url("../icons/advantages-icon-04.png") no-repeat;
}
.advantage_description{
    .advantage_number{
        font-weight: 500;
        font-size: 18px;
        color: #ffffff;
        margin-bottom: 16px;
    }
    .advantage_text{
        font-weight: 500;
        font-size: 12px;
        color: #ffffff;
        text-transform: uppercase;
    }
}

// *works
.works{
    max-width: 100%;
    min-height: 100px;
    background-color: #f5f5f5;
}
.container_works{
    display: flex;
    flex-direction: column;
    
}
.works_container_flex{
    display: flex;
}

.card{
    width: 341px;
    height: 300px;
    flex-basis: 100%;
}
.dark_gray{
    background-color: #838383;
}
.light_gray{
    background-color: #dddddd;
}
.rgba_dark{
    position: relative;
    width: 100%;
    min-height: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 1s ease;
    opacity: 0;
}
.card:hover .rgba_dark{
    opacity: 1;
}
.icon_auge{
    width: 69px;
    height: 46px;
    background: url("../../icons/icon-auge.png") no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.works_link_container{
    padding: 44px 0;
    text-align: center;
    .works_link{
        font-weight: 500;
        font-size: 12px;
        color: #8e8e8e;
        text-transform: uppercase;
    }
}

// *process
.process{
    max-width: 100%;
    min-height: 100px;
    background-color: #ffffff;
    padding-bottom: 100px;
}
.process_title{
    text-align: center;
}
.process_title{
    margin-bottom: 40px;
}
.process_decription{
    font-size: 16px;
    color: #787878;
    max-width: 555px;
    margin: 0 auto;
    margin-bottom: 57px;
    text-align: center;
}
.process_video_container{
    position: relative;
    max-width: 100%;
    height: 570px;
    background-color: #e9e9e9;
    cursor: pointer;
}
.process_video{
    display: block;
    width: 100%;
    height: 570px;
    object-fit: cover;
}
.button_play{
    position: relative;
    width: 85px;
    height: 85px;
    background-color: #10c9c3;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.icon_play{
    width: 36px;
    height: 36px;
    background: url("../../icons/icon-play.png") no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

// *services
.services{
    max-width: 100%;
    min-height: 200px;
    background-color: #f5f5f5;
    padding-bottom: 100px;
}
.services_container{
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 50px;
}
.services_card{
    max-width: 270px;
}
.services_icon{
    width: 50px;
    height: 50px;
    background-size: contain;
    margin: 0 auto;
    margin-bottom: 20px;
}
.services_title{
    font-weight: 500;
    font-size: 12px;
    color: #191919;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 23px;
}
.services_text{
    font-size: 16px;
    color: #787878;
    text-align: center;
}
.services_icon_01{
    background: url("../icons/services-icon-01.png") no-repeat;
}
.services_icon_02{
    background: url("../icons/services-icon-02.png") no-repeat;
}
.services_icon_03{
    background: url("../icons/services-icon-03.png") no-repeat;
}
.services_icon_04{
    background: url("../icons/services-icon-04.png") no-repeat;
}
.services_icon_05{
    background: url("../icons/services-icon-05.png") no-repeat;
}
.services_icon_06{
    background: url("../icons/services-icon-06.png") no-repeat;
}
.services_icon_07{
    background: url("../icons/services-icon-07.png") no-repeat;
}
.services_icon_08{
    background: url("../icons/services-icon-08.png") no-repeat;
}

// *reviews
.reviews{
    max-width: 100%;
    min-height: 500px;
    background-color: #0fc9c3;
    padding-bottom: 60px;
}
.reviews_container{
    padding-top: 100px;
}
.slider_content{
    display: none;
    text-align: center;
}
.slider_content_active{
    display: block;
}
.slider_content_text{
    font-weight: 500;
    font-size: 24px;
    color: #ffffff;
    max-width: 815px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.slider_content_title{
    font-weight: 500;
    font-size: 12px;
    color: #ffffff;
    text-transform: uppercase;
}
.slider_points{
    padding-top: 110px;
    display: flex;
    justify-content: center;
    column-gap: 6px;
    align-items: center;
}
.slider_point{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #b0e8e6;
    &:hover{
        background-color: #ffffff;
    }
}
.slider_point_active{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ffffff;
}

// *brands
.brands{
    max-width: 100%;
    min-height: 200px;
    background-color: #ffffff;
    padding: 70px 0;
}
.brands_container{
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
    flex-wrap: wrap;
    row-gap: 50px;
}
.brand_img{
    display: block;
    margin: 0 auto;
}

// *contact with me
.contact_with_me{
    max-width: 100%;
    min-height: 200px;
    background-color: #f5f5f5;
    padding-bottom: 100px;
}
.contact_with_me_title{
    text-align: center;
    margin-bottom: 40px;
}
.contact_with_me_description{
    font-size: 16px;
    color: #787878;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.contact_with_me_forma_center{
   display: flex;
   justify-content: center;
}
.page_button_center{
    text-align: center;
}
