// *project
.project{
    max-width: 100%;
    min-height: 100px;
    background-color: #ffffff;
    margin-top: 100px;
}

.block_gray_project{
    width: 683px;
    height: 570px;
    background-color: #e6e6e6;
}
.project_container{
    display: flex;
    justify-content: space-between;
    row-gap: 30px;
    background-color: #f6f6f6;
}
.project_content_text{
    max-width: 490px;
    padding-top: 105px;
}
.project_title{
    font-weight: 700;
    font-size: clamp(25px, 8vw, 38px);
    color: #1d1d1d;
    margin-bottom: 40px;
}
.project_description{
    font-size: 16px;
    color: #787878;
}
.project_description_01{
    margin-bottom: 33px;
}
.project_description_02{
    margin-bottom: 60px;
}
.project_info{
    display: flex;
    flex-direction: column;
    row-gap: 22px;
    .info{
        display: flex;
        column-gap: 10px;
        h3{
            font-weight: 700;
            font-size: 16px;
            color: #171717;
        }
        p{
            font-size: 16px;
            color: #787878;
        }
        .link_social{
            font-size: 16px;
            color: #787878;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}
.buttons{
    max-width: 100%;
    min-height: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .btn_project{
        position: relative;
        font-weight: 500;
        font-size: 12px;
        color: #1d1d1d;
        text-transform: uppercase;
    }
    .btn_previous{
        &::before{
            content: "";
            display: inline-block;
            width: 8px;
            height: 12px;
            background: url("../../icons/arrow-left.png") no-repeat;
            position: absolute;
            left: -14px;
        }
    }
    .btn_square{
        width: 23px;
        height: 23px;
        background: url("../../icons/square-icon.png") no-repeat;
    }
    .btn_next{
        &::before{
            content: "";
            display: inline-block;
            width: 8px;
            height: 12px;
            background: url("../../icons/arrow-right.png") no-repeat;
            position: absolute;
            right: -14px;
        }
    }
}